* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.carousel-item {
    height: 500px;
}

.carousel-item img,
.portada img {
    height: 300px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .carousel-item img {
        height: 500px;
    }
}


body {
    scroll-behavior: smooth;
}

nav ul li a {
    font-weight: 500;
    color: #5c5c5c;
}

h2,
h3 {
    color: #3a3a3a;
    font-family: 'Playfair Display', serif;
}

.accordion-button {
    background-color: #f8f9fa;
    font-weight: 600;
}

.containet .map iframe {
    width: 100%;
}


/* Blog */

@media (min-width: 700px) {
    .blog img {
        height: 400px;
        object-fit: cover;
    }
}

/* Noticas */

@media (max-width: 700px) {
    .noticias .noticia-principal img {
        height: 250px;
        object-fit: cover;
    }
}